@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about Devops And Others Tools Like Azure Related <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core And Some tools Using For Project structure an lerning New Components And Features</a>.</p>
</div>
